/*Подключение шрифтов*/
@font-face {
    font-family: 'gilroyextrabold';
    src: url('/fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gilroylight';
    src: url('/fonts/radomir_tinkov_-_gilroy-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
/*Подключение шрифтов*/
body
{
    margin:0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size:15px;
    font-weight: 400;
    line-height:30px;
    color:black;
    background-color:#ffffff;
}
.text-logo
{
    font-family:"gilroyextrabold", Arial, sans-serif;
    font-size:48px;
    line-height:48px;
    font-weight:bold;
    text-transform: uppercase;
}
.text-logo:hover
{
  color: rgba(0, 0, 0, 0.6);
}
.text-logo:active
{
  color: rgba(0, 0, 0, 0.302);
}



ul
{
    list-style:none; 
}
a
{
    text-decoration: none;
    color:black;
    
}
.search-input
{
    border:none;
    background-color:#f7e296;
}
/*Стили для плейсхолдера*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#464646;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#464646;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#464646;
}
:-moz-placeholder { /* Firefox 18- */
  color:#464646;
}
/*Стили для плейсхолдера*/
.main-nav
{
    background-color:#f7e296;
}
.site-navigation-item
{
    font-family:"gilroyextrabold", Arial, sans-serif;
    font-size:18px;
    font-weight:bold;
    line-height:24px;
    text-transform: uppercase;
}
h2
{
    font-family:"gilroyextrabold", Arial, sans-serif;
    font-size:47px;
    font-weight:bold;
    line-height:48px;
    color:black;
}
.main-columns p
{
    font:inherit;
    color:#464646;
}
.link
{
    font-family:"gilroyextrabold", Arial, sans-serif;
    font-size:18px;
    font-weight:bold;
    line-height:24px;
    text-transform: uppercase;
}

.delivery-list
{
    list-style:circle;
}
.delivery-list li
{
    font-family:"gilroyextrabold", Arial, sans-serif;
    font-size:16px;
    font-weight:bold;
    line-height:40px; 
}
.form-popup,
.map-popup
{
    display:none;
}
.main-footer
{
    background-color:#464646;
    color:#ffffff;
    font-size:15px;
}
.main-footer p
{
    line-height:30px;
}

.main-footer .text-logo
{
    font-family:"gilroyextrabold", Arial, sans-serif;
    font-size:48px;
    line-height:auto;
    font-weight:bold;
    text-transform: uppercase;
    color:#ffc600;
}
a.phone
{
    line-height:30px;
}
.footer-navigation a
{
    font-family:"gilroyextrabold", Arial, sans-serif;
    font-size:18px;
    line-height:24px;
    font-weight:bold;
    text-transform: uppercase;  
}
footer a
{
    color:white;
    line-height:36px;
}