@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroyextrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
         url('../fonts/gilroylight-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
body
{
    margin:0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size:15px;
    font-weight: 400;
    line-height:30px;
    color:black;
    background-color:#ffffff;
}

/*Стили для Логотипа*/
.text-logo
{
    font-family:"gilroy", Arial, sans-serif;
    font-size:48px;
    line-height:48px;
    font-weight:bold;
    text-transform: uppercase;
}
.text-logo:hover
{
  color: rgba(0, 0, 0, 0.6);
}
.text-logo:focus
{
  color: rgba(0, 0, 0, 0.6);
}
.text-logo:active
{
  color: rgba(0, 0, 0, 0.302);
}
.main-footer .text-logo
{
    font-family:"gilroy", Arial, sans-serif;
    font-size:48px;
    line-height:auto;
    font-weight:bold;
    text-transform: uppercase;
    color:#ffc600;
}
.main-footer .text-logo:hover
{
  color: rgba(255, 198, 0, 0.6);
}
.main-footer .text-logo:focus
{
  color: rgba(255, 198, 0, 0.6);
}
.main-footer .text-logo:active
{
  color: rgba(255, 198, 0, 0.302);
}
/*Стили для Логотипа*/

ul
{
    list-style:none; 
}
a
{
    text-decoration: none;
}

/*Стили для поиска в header*/
.search-input
{
    border:none;
    background-color:#f7e296;
}
/*Стили для поиска в header*/

/*Стили для плейсхолдера*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#464646;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#464646;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#464646;
}
:-moz-placeholder { /* Firefox 18- */
  color:#464646;
}
/*Стили для плейсхолдера*/


.main-nav
{
    background-color:#f7e296;
}
/*Стили для пунктов меню*/
.user-navigation-item
{
  font-size: 15px;
  font-family:"Open Sans", Arial, sans-serif;
  line-height:30px;
}
.site-navigation-item
{
    font-family:"gilroy", Arial, sans-serif;
    font-size:18px;
    font-weight:bold;
    line-height:24px;
    text-transform: uppercase;
}
.text-black
{
  color: rgba(0, 0, 0);
}
.text-black:hover
{
  color: rgba(0, 0, 0, 0.6);
}
.text-black:focus
{
  color: rgba(0, 0, 0, 0.6);
}
.text-black:active
{
  color: rgba(0, 0, 0, 0.302);
}
/*Стили для пунктов меню*/


h1,
h2
{
    font-family:"gilroy", Arial, sans-serif;
    font-size:47px;
    font-weight:bold;
    line-height:48px;
    color:black;
}
.main-columns p
{
    font:inherit;
    color:#464646;
}
.page-link
{
    color:black;
    font-family:"gilroy", Arial, sans-serif;
    font-size:18px;
    font-weight:bold;
    line-height:24px;
    text-transform: uppercase;
}

.delivery-list
{
    list-style:circle;
}
.delivery-list li
{
    font-family:"gilroy", Arial, sans-serif;
    font-size:16px;
    font-weight:bold;
    line-height:40px; 
}
.form-popup,
.map-popup
{
    display:none;
}
.main-footer
{
    background-color:#464646;
    color:#ffffff;
    font-size:15px;
}
.main-footer p
{
    line-height:30px;
}



a.phone
{
    line-height:30px;
}
/*Стили для ссылок в footer*/
.footer-navigation-item
{
    font-family:"gilroy", Arial, sans-serif;
    font-size:18px;
    line-height:24px;
    font-weight:bold;
    text-transform: uppercase;
    
}
.text-white
{
  color: rgba(255, 255, 255);
}
.text-white:hover
{
  color: rgba(255, 255, 255, 0.6);
}
.text-white:focus
{
  color: rgba(255, 255, 255, 0.6);
}
.text-white:active
{
  color: rgba(255, 255, 255, 0.302);
}
/*Стили для ссылок в footer*/

.bread-item
{
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.302);
  line-height: 24px;
}
h3.product-name
{
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color:black;
  font-weight: bold;
  line-height:24px;
}
span.product-price
{
  font-size: 16px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(70, 70, 70);
  line-height:24px;
}
legend
{
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color:black;
  font-weight: bold;
  line-height:24px;
}
.filters label
{
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color:black;
  line-height:40px;
}
.logout-black
{
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.302);
  line-height:30px;
}
.logout-white
{
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.302);
  line-height:30px;
}
.soc-button
{
    color:white;
}

/*Стили для сеток*/

.container
{
    width:1160px;
    padding:0 10px;
    margin:0 auto;
}
.logo
{
    padding:0;
    margin:0;
    width:200px;
    margin-left:60px;
    margin-bottom:-25px;
}

.main-nav
{
    padding-top:50px;
    
}
.user-navigation
{
    margin:0;
    padding:0;
    display:flex;
    width:1040px;
    margin-left:60px;
    margin-bottom:20px;
}
.user-navigation li
{
    width:100px;
    margin-right:20px;
}
.user-navigation li:last-child
{
    margin-right:0;
}
li.search
{
    width:520px;
}
li.login
{
    width:260px;
}
.site-navigation
{
    margin:0;
    padding:0;
    display:flex;
    width:1040px;
    margin-left:60px;
}
.site-navigation li
{
    letter-spacing: 3px;
    width:140px;
    margin-right:20px;
}
.site-navigation li:last-child
{
    margin-left:auto;
    margin-right:0;
    text-align: right;
}
li.catalog
{
    width:520px;
}


/*Нужно скрыть правильно*/
label
{
    display:none;
}
button
{
    display:none;
}